
/* Pallete: 
  #5f00ba
  #a09be7 
  #fff2f1
  #b0ff92
  #d6ff79
*/

#container{
  width: 100%;

}

.youtube {
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
  
}
.submit{
  display: flex;
  align-items: center;
  justify-content: center;
}

